
extends layout

block content
  h1 hi
  p aqui se aran pruebas
  if(!user)
    p
      a.btn.btn-danger(href='/auth/google')
          span.fa.fa-google-plus
          |  Google
  #app
    | {{ message }}
  script.
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!'
      }
    })
